section.audio_gallery {
  color: @light-text-color;
}

section.audio_gallery h2 {
  font-family: @title-font;
}

section.audio_gallery h1 {
  font-family: @title-font;
}

section.audio_gallery p, i {
  font-family: @body-font;
  font-size: 20px;
}

//Playlist
section.audio_gallery .playlist {

}

section.audio_gallery .progress-bar {
  -webkit-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
