<template name="audio_gallery">
    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.1.js"></script>
    <script>
    </script>
    <!-- Top Navigation Bar -->
    <section id="audio_gallery" class="audio_gallery">
        <div class="container">
            <h1>Beats by S.U.:</h1>
            <button type="button" id="button_play" class="btn"><i class="fa fa-play"></i></button>
            <button type="button" id="button_next" class="btn"><i class="fa fa-fast-forward"></i></button>
            <p>Now Playing: {{current_song_name}}</p>
            <audio id="audio_player" preload>
                <source src="{{audio_source}}" type="audio/mpeg" />
            </audio>
            <!-- <audio controls preload>
                <source src="audio/Have To(s.u.)67.2bpm.mp3" type="audio/mpeg" />
            </audio> -->

            <!-- SoundCloud Widget -->
            <!-- <div id="sound_cloud_widget"></div> -->

            <!-- Header Text -->
            <!-- <div class="row">
                <div class="col-lg-12">
                    <h2>Yuppppp</h2>
                    <i>69bpm</i>
                </div>
            </div> -->

            <!-- Header Text -->
            <!-- <div class="row">
                <div class="col-lg-12">
                    <h2>Have To</h2>
                    <i>67.2bpm</i>
                </div>
            </div> -->

            <!-- Playlist Selections -->
            <ul id="list" class="playlist">
                <li><a href="audio/Yuppppp(s.u.)69bpm.mp3" data-index="0" value="Yuppppp"><h2>Yuppppp <i>69bpm</i></h2></a></li>
                <li><a href="audio/Have To(s.u.)67.2bpm.mp3" data-index="1" value="Have To"><h2>Have To <i>67.2bpm</i></h2></a></li>
            </ul>
        </div>
    </section>
</template>
